# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

##### Using 'in' keyword

In [5]:
# see above
# for (keyword), counter (variable to count items), in (keyword) condition (iterable)

#for i in range(10):
    #print(i) 
    
name = "Brad Stover"
#for character in name:
   # print(character)
    
for i in range(len(name)):
    print(name[i])

B
r
a
d

S
t
o
v
e
r

##### Continue Statement

In [6]:
# will continue to next iteration
for i in range(20):
    if i % 5 == 0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

##### Break Statement

In [8]:
# will break out of current loop
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [9]:
# mostly used as a placeholder, and will continue on same iteration
for i in name:
    pass #TODO: come back and finish this

##### Double For Loops

In [10]:
for i in range(5):
    for j in range(5):
        print(f"i = {i} | j = {j}")

i = 0 | j = 0
i = 0 | j = 1
i = 0 | j = 2
i = 0 | j = 3
i = 0 | j = 4
i = 1 | j = 0
i = 1 | j = 1
i = 1 | j = 2
i = 1 | j = 3
i = 1 | j = 4
i = 2 | j = 0
i = 2 | j = 1
i = 2 | j = 2
i = 2 | j = 3
i = 2 | j = 4
i = 3 | j = 0
i = 3 | j = 1
i = 3 | j = 2
i = 3 | j = 3
i = 3 | j = 4
i = 4 | j = 0
i = 4 | j = 1
i = 4 | j = 2
i = 4 | j = 3
i = 4 | j = 4

### While Loops

In [12]:
# while (keyword), condition statement
# while loop contines as long as condition is true

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### looping 'While True'

In [ ]:
game_over = False # This is a flag

while True:
    print("Infinite Loop")
    if game_over == False:
        break

##### While & For Loops Used Together

In [14]:
num = 0

while num < 5:
    print("\n While Loop Iteration", str(num + 1))
    
    for i in range(2):
        print("For Loop Iteration", str(i + 1))
        
    num += 1

 While Loop Iteration 1
For Loop Iteration 1
For Loop Iteration 2

 While Loop Iteration 2
For Loop Iteration 1
For Loop Iteration 2

 While Loop Iteration 3
For Loop Iteration 1
For Loop Iteration 2

 While Loop Iteration 4
For Loop Iteration 1
For Loop Iteration 2

 While Loop Iteration 5
For Loop Iteration 1
For Loop Iteration 2

##### The Range Function

In [16]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

### String Manipulation Exercise

In [20]:
#Loop through this names list and print out each name with a capital letter in the front
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
names_title = []
for name in names:
    name = name.strip()
    name = name.lower()
    name = name.title()
    print(name)
    names_title.append(name)
print(names_title)

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

## Lists

##### Declaring Lists

In [21]:
l_1 = [] #Empty list declaration

names = ["Tommy", "Jason", "Kimberly", "Zach", "Trini", "Billy"]
print(names)

['Tommy', 'Jason', 'Kimberly', 'Zach', 'Trini', 'Billy']

##### Indexing a List

In [24]:
# [start : stop : step] -- [-1] is end of list

#Single index
print(names[0])

#Starting at index 1 and going through the end
print(names[1:])

#Start at front and end at n, non-inclusive (n == number you want to stop at)
print(names[:3])

#Start at 1, go to end, count by 2
print(names[1::2])

#Reverse the list
print(names[::-1])

Tommy
['Jason', 'Kimberly', 'Zach', 'Trini', 'Billy']
['Tommy', 'Jason', 'Kimberly']
['Jason', 'Zach', 'Billy']
['Billy', 'Trini', 'Zach', 'Kimberly', 'Jason', 'Tommy']

### List Methods

##### .append()

In [25]:
names.append("Brad")
print(names)

['Tommy', 'Jason', 'Kimberly', 'Zach', 'Trini', 'Billy', 'Brad']

##### .insert()

In [27]:
names.insert(2, "Brian")
print(names)

['Tommy', 'Jason', 'Brian', 'Ryan', 'Kimberly', 'Zach', 'Trini', 'Billy', 'Brad']

##### .pop()

In [30]:
# default is the ast value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable 
names.pop()
print(names)

['Tommy', 'Jason', 'Brian', 'Zach', 'Trini']

##### .remove()

In [31]:
while "Brian" in names:
    names.remove("Brian")
print(names)

['Tommy', 'Jason', 'Zach', 'Trini']

### Working With Lists

##### del()

In [32]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully
del(names[0])
print(names)

['Jason', 'Zach', 'Trini']

##### min()

In [33]:
numbers = [3, 6, 0, 30, -12, 100]
print(min(numbers))

-12

##### max()

In [34]:
print(max(numbers))

100

##### sum()

In [35]:
print(sum(numbers))

127

##### sorted()

In [37]:
print(numbers)

sorted_numbers = sorted(numbers)
print(sorted_numbers)

[3, 6, 0, 30, -12, 100]
[-12, 0, 3, 6, 30, 100]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [39]:
print(f"numbers before sort: {numbers}")
#print("sorted(numbers): " sorted(numbers))
print("numbers.sort()", numbers.sort())
print(f"numbers after .sort(): {numbers}")

#Sorting by absolute value
def absolute(value):
    return abs(value)

numbers.sort(key=absolute)
print(numbers)

numbers before sort: [3, 6, 0, 30, -12, 100]
numbers.sort() None
numbers after .sort(): [-12, 0, 3, 6, 30, 100]
[0, 3, 6, -12, 30, 100]

##### Copying a List

In [40]:
# [:] copies a list, doesn't alter original'
list_1 = numbers[:]
print(list_1)
print(numbers)

[0, 3, 6, -12, 30, 100]
[0, 3, 6, -12, 30, 100]

##### Looping Through Lists

In [43]:
#Two ways:
#first: with in keyword -- for item in list
#second: by index -- for i in range(len(list))

# Which list methods requre an index number?
#Answer: slice, del, insert

# First
for name in names:
    print(name)

# Second
for i in range(len(names)):
    print(names[i])
    
# Third - grabbing both index and value
for index, name in enumerate(names):
    print(f"The index is {index} and the name is {name}.")

Jason
Zach
Trini
Jason
Zach
Trini
The index is 0 and the name is Jason.
The index is 1 and the name is Zach.
The index is 2 and the name is Trini.

##### 'in' keyword

In [44]:
ct_teachers= ["Joel", "Derek", "Sam", "Nate", "Kevin"]

if "Sam" in ct_teachers:
    print("Sam is indeed a teacher")
else:
    print("No Sam here")

Sam is indeed a teacher

In [45]:
for name in ct_teachers:
    if name[0] == 'N':
        print('found', name)
    else:
        print("not found")

not found
not found
not found
found Nate
not found

##### 'not in' keyword

In [46]:
if "Tommy" not in ct_teachers:
    print("No Tommy Here")

No Tommy Here

##### Checking an Empty List

In [48]:
l_2 = []
if l_2 == []:
    print("empty")
if l_2:
    print("we have list values")
else:
    print("empty list")

empty
empty list

##### Removing Instances with a Loop

In [49]:
# while, remove
names = ['Conner',"Joel", "Max","Evan","Rob","Evan"]

while 'Evan' in names:
    names.remove('Evan')
print(names)

for name in names:
    if name == 'Evan':
        names.remove('Evan')
print(names)

['Conner', 'Joel', 'Max', 'Rob']
['Conner', 'Joel', 'Max', 'Rob']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [51]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
names_no_duplicates = []
for name in names:
    if name not in names_no_duplicates:
        names_no_duplicates.append(name) 

print(names_no_duplicates)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [55]:
# Number comprehension

# With regular for loop

nums = []

for i in range(100):
    nums.append(i)
print(nums)

print('\n')

# With List Comprehension

nums_comp = [i for i in range(100)]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [ ]:
#Square number comprehension
squares = [x**2 for x in range(10)]

print(squares)

In [64]:
#Create a list of first letters from the list of names given
names = ["Peter", "Piper", "Penny", "Bob", "Sally"]

#Expected output: ['P', 'P', 'P', 'B', 'S']
first_letters = [name[0] for name in names if name[0] == 'P']
print(first_letters)

['P', 'P', 'P']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [68]:
#dir(tuple(first_letters))

tup_1 = 1, 2, 3 #1st way to create a tuple
tup_2 = (1, 2, 3) # 2nd way to create a tuple

print(type(tup_1))
print(type(tup_2))
print(tup_1[0])

for num in tup_2:
    print(num)
    
#Tuple with one value
tup_3 = 3,
print(type(tup_3))

<class 'tuple'>
<class 'tuple'>
1
1
2
3
<class 'tuple'>

##### sorted()

In [69]:
tup_4 = 20,5,12,3,9,52
sorted_tup = sorted(tup_4)
print(sorted_tup)

[3, 5, 9, 12, 20, 52]

##### Adding values to a Tuple

In [70]:
print(tup_1)
tup_1 += 5,
print(tup_1)

(1, 2, 3)
(1, 2, 3, 5)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [75]:
alist = [1,11,14,5,8,9]
newlist = [num for num in alist if num < 10]
print(newlist)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [79]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]
joined_list = l_1 + l_2
joined_list.sort()
print(joined_list)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]